{% extends "main.html" %}
{% block title %}About Ezy Gallery{% endblock %}
{% block content %}
<section class="info-page">
  <h1>About</h1>
  <p>Ezy Gallery is the passion project of a small Aussie team led by artist Robin Custance. We blend creative spirit with smart automation to help artists showcase and sell their work online.</p>
  <p>From humble beginnings experimenting with digital brushes to building a full e-commerce platform, our goal is simple: empower creatives with ethical, inclusive tools.</p>
</section>
{% endblock %}
