body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-family: Georgia, "Times New Roman", serif;
}
h1 { letter-spacing: -0.7px; }
h2 { letter-spacing: -0.6px; }
h3 { letter-spacing: -0.5px; }
